.mainBg {
    background: rgb(245, 245, 245);
    opacity: 0.95;
    background-image:  linear-gradient(30deg, rgba(70,70,70,1) 12%, transparent 12.5%, transparent 87%,  rgba(70,70,70,1) 87.5%,  rgba(70,70,70,1)), 
    linear-gradient(150deg, rgba(255,218,87,0.9623250667454482) 12%, transparent 12.5%, transparent 87%, rgba(255,218,87,0.9623250667454482) 87.5%, rgba(255,218,87,0.9623250667454482)), 
    linear-gradient(30deg, rgba(255,148,42,0.9483194645045518) 12%, transparent 12.5%, transparent 87%, rgba(255,148,42,0.9483194645045518) 87.5%, rgba(255,148,42,0.9483194645045518)), 
    linear-gradient(150deg, rgba(255,148,42,0.9483194645045518) 12%, transparent 12.5%, transparent 87%, rgba(255,148,42,0.9483194645045518) 87.5%, rgba(255,148,42,0.9483194645045518)), 
    linear-gradient(60deg, rgba(255,148,42,0.9483194645045518) 25%, transparent 25.5%, transparent 75%, rgba(255,148,42,0.9483194645045518) 75%, rgba(255,148,42,0.9483194645045518)), 
    linear-gradient(60deg, rgba(70,70,70,1) 25%, transparent 25.5%, transparent 75%, rgba(70,70,70,1) 75%, rgba(70,70,70,1));
/*
    background: rgb(70,70,70);
    
    */height: 100vh;
}