body {
    margin: 0;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif !important;
    line-height: 1.5;
    background-color: #F5F7FA;

}

.color-warning {
    background-color: #ffdf80 !important;
}

.color-danger {
    background-color: #ec939c !important;
}

.color-success {
    background-color: #93ebc2 !important;
}